@mainColor: #ec890e;
@ovalColor: rgb(232, 94, 15);
@RightPanelWidth: 330px;
@TopPanelHeight: 85px;
@RightTopHeight: 85px;
@RightBottomHeight: 100px;
@Indent: 110px;

@import "pizza/pizza-card";
@import "structure/top-panel";
@import "structure/right-panel";
@import "structure/main-menu";
@import "structure/pizza-cart";

.new-label{
  position: absolute;
  top:-8px;
  right:11px;
  font-size: 15px;
}

.popular-label{
  position: absolute;
  top:-8px;
  right:11px;
  font-size: 15px;
}



body{
  background-color:#FFFFF5;
  min-width: 700px;
}
