<% include common/header.ejs %>

<div class="main-pizza">
    <div class="main-container  container-fluid">
        <div class="left-order-panel">
            <div class="contact-form">
                <div class="form">
                    <h3>1. Контактні дані</h3>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-horizontal">
                            <div class="form-group name-form">
                                <label class="col-sm-2 control-label name-lab" style="color:black">Ім’я</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" id="inputName" placeholder="Ім’я Прізвище">
                                </div>
                                <span class="name-help-block" style="display:none">Введіть тільки власне ім’я, без цифр</span>
                            </div>
                            <div class="form-group phone-form">
                                <label class="col-sm-2 control-label phone-lab" style="color:black">Телефон</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" id="inputPhone" placeholder="Номер телефону">
                                </div>
                                <span class="phone-help-block" style="display:none">Введіть номер телефону в форматі +380 або починаючи з 0</span>
                            </div>
                            <div class="form-group address-form">
                                <label class="col-sm-2 control-label adress-lab" style="color:black">Адресса</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" id="inputAdress" placeholder="Адресса доставки">
                                </div>
                                <span class="adress-help-block" style="display:none">Введіть свою адрессу</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 order-summary">
                        <div class="delivery-info">
                            <h4>Інформація про замовлення</h4>
                            <p class="order-summery-time">
                                <b>Приблизний час доставки:</b> невідомий
                            </p>
                            <p class="order-summery-adress">
                                <b>Адреса доставки:</b> невідома
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="next-form">
                        <button type="button" class="btn btn-warning btn-block next-step-button">
                            Далі
                            <i class="glyphicon glyphicon-chevron-right icon-white">
                            </i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="site-icon">
    <div class="discount-before top-discount">
    </div>
    <a class="pizza-logo" style="text-decoration:none" href="/">
        <div id="pizza-title2" class="title-1">
            Pizza
        </div>
        <div class="title-2">
            KMA
        </div>
    </a>
</div>

<div class = "right-panel">
    <div class="top-part">
        <div class="row order-info">
            <div class="col-xs-6 order">
                Замовлення
                <div class="badge oval pizza-count">0</div>
            </div>
            <span class="top-clear col-xs-6">Очистити замовлення</span>
        </div>
    </div>
    <div class="main-part">
        <!--<div class="trap">Пусто в холодильнику?-->
        <!--Замовте піцу!</div>-->
        <!--</div>-->
        <div id="cart">

        </div>
    </div>
    <div class="bottom-part">
        <div class="sum">Сума замовлення: 0 грн</div>
        <div class ="do-order-btn">
            <span href = "" class="btn btn-warning edit-order">Редагувати замовлення</span>
        </div>
    </div>
</div>

<% include common/footer.ejs %>