<div class="top-panel">
    <div class="row info-menu">
        <div class="col-lg-3 visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block tel-number">(044) 222 5 222</div>
        <div class="col-lg-3 visible-lg-inline-block visible-md-inline-block schedule">24 години/ 7 днів на тиждень</div>
        <div class="col-lg-3 visible-lg-inline-block delivery-text">Безкоштовна доставка піци</div>
        <button type="button" class="btn btn-warning login">Ввійти</button>
    </div>
    <div class="info-menu2">
        <a class="hidden-xs" href="index.html">Піца</a>
    </div>
</div>