.main-pizza{
  margin-right: @RightPanelWidth;
  margin-top: @TopPanelHeight;
  margin-left: @Indent;
}

.inner-container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.menu {
  width: 100%;
  padding-bottom: 40px;
}

.pizza-count{
  background-color: @mainColor;
}

.page-title {
  text-align: center;
}

.all-pizza-types {
  width: 100%;
  margin: auto;
}

.all-pizza-types li{
  display: inline-block;
  font-size: 20px;
  margin-right:10px;
}

