.pizza-card {
  img {
    max-width: 100%;
    width:100%;
  }

  .image{
    width:10px;
  }

  .pizza-title{
    font-size: 30px;
    color: @mainColor;
    weight:bold;
  }

  .type{
    width:100%;
    color:gray;
    font-size:13px;
  }

  .small-pizza{
    text-align: center;
  }

  .big-pizza {
    text-align: center;
  }

  .description{
    width:100%;
  }

  .price{
    font-size:20px;
    margin: 0;
  }

  .buy-small{
    margin:auto;
  }

  .buy-big{
    margin:auto;
  }

  h3 {
    color: @mainColor;
    background-color: lighten(@mainColor, 45%);
  }
}